.row
	.col-xs-5
		.branding-container
			h1 Ipreo 
				small(ng-class='getClass(pageName)') {{pageName}}
	.col-xs-7
		ul.list-inline.pull-right
			li(ui-sref='app') Home
			li(ui-sref='.nav.datafeeds') Data Feeds
			li(ui-sref='.nav.webservices') Web Services
			li(ui-sref='.nav.widgets') Widgets
			li(href="mailto:content@ipreo.com") Contact