.row.video-background
	#sample-video-container
		video#sample-video(muted='', preload='metadata')
			source(src="/videos/typingsample3.mov")
.row
	.learn-more
		.col-xs-12
			h1.text-center.text-primary Learn More
			p.text-center.text-info
				| Ipreo's content can be accessed in various different ways
				| Webservices... DataFeeds.. we have even created widgets which you can
				| embed in your page.
.row.thumbnail-container
	.col-xs-4
		.thumbnail.text-center.text-df(ui-sref='.nav.webservices')
			i.fa.fa-database
			.caption
				h3.text-df Data Feeds
	.col-xs-4
		.thumbnail.text-center.text-ws(ui-sref='.nav.webservices')
			i.fa.fa-cogs
			.caption
				h3.text-ws.shine Web Services
				p.text-muted the latest.. the greatest..
	.col-xs-4
		.thumbnail.text-center.text-wdgt(ui-sref='.nav.webservices')
			i.fa.fa-cubes
			.caption
				h3.text-wdgt Widgets
				p.text-muted
					| Widgets are embeddable Web Components which use Ipreo's Web Services
		

script.
	var vid = $('#sample-video')[0];
	setTimeout(function () {
		vid.playbackRate = 2;	
		vid.play();
	}, 3000);
