.lm-content
	.row
		.col-xs-12
			diagram(data='taxonomy', on-click='showDetail(item)')
	.row
		.col-xs-12
			h2 {{entity.name}}

			.col-xs-6
				h4.text-primary Inherited
				ul.list-group
					li.list-group-item(ng-repeat='i in entity.inherited')
						span {{i.name}}
						em.text-right.pull-right {{i.type}}
			.col-xs-6
				h4.text-primary Natural
				ul.list-group
					li.list-group-item(ng-repeat='i in entity.natural')
						span {{i.name}}
						em.text-right.pull-right {{i.type}}