.well.well-sm.ws-sample
	h3.title Sample Calls
	.list-group.scroll-y
		a.list-group-item(href='#', ng-repeat='s in samples', ng-click='clickSample(s)') {{s.name}}

ipreo-ws-sample-detail(sample='sample')