.well.well-sm.ws-sample.rel.scroll-y
	h3.title.text-primary(ng-hide='sample') {{title}}
	h3.title.text-primary.clickable(ng-click='clickBack()', ng-show='sample')
		i.fa-arrow-left.fa
		{{sample.name}}
	ipreo-ws-sample-list(samples='samples', sample='sample', ng-hide='sample')
	ipreo-ws-sample-detail(sample='sample', ng-show='sample')