block head
	title= title
	meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
	link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
	link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
	link(href='/stylesheets/animate.css', rel='stylesheet')
	link(href='/stylesheets/animations.css', rel='stylesheet')
	link(href='/javascripts/modules/json-formatter/json-formatter.min.css', rel='stylesheet')
	link(href='/stylesheets/app.css', rel='stylesheet')

	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js')
	script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js')
	script(src='/javascripts/angular-ui-router.min.js')
	script(src='/javascripts/ngScrollSpy.min.js')
	script(src='/javascripts/ui-utils.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/angular-scroll/0.7.0/angular-scroll.js')

	script(src='/javascripts/app.js')
	script(src='/javascripts/controllers/index.js')
	script(src='/javascripts/controllers/header.js')
	script(src='/javascripts/controllers/nav.js')
	script(src='/javascripts/controllers/webserv.js')
	script(src='/javascripts/controllers/widget.js')
	script(src='/javascripts/controllers/datafeed.js')
	script(src='/javascripts/controllers/globalDataCoverage.js')


	script(src='/javascripts/services/davosUrl.js')
	script(src='/javascripts/services/navdata.js')
	script(src='/javascripts/services/ws.js')
	script(src='/javascripts/services/stats.js')
	script(src='/javascripts/modules/d3.js')
	script(src='/javascripts/ui-bootstrap-custom-tpls-0.13.0.js')
	//script(src='/javascripts/angular-scroll.min.js')
	script(src='/javascripts/modules/json-formatter/json-formatter.min.js')


	script(src='/javascripts/directives/piechart.js')
	script(src='/javascripts/directives/wsSample.js')
	script(src='/javascripts/directives/wsSampleList.js')
	script(src='/javascripts/directives/wsSampleDetail.js')

	





