doctype html
html(ng-app='app')
	head
		include head

		style(type='text/css')
			#input { position: absolute; width: 400px; height: 500px; border: 1px solid #ddd; }
			#output { position: absolute; width: 450px; height: 500px; border: 1px solid #ddd; }

	body
		#input
			h3 text editor

		#output
			h3 results

