[ng-cloak],.ng-cloak{display:none !important}

.r, .c { position: absolute; }
.r { left: 0; right: 0; padding-left: 15px; padding-right: 15px; }
.c { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

#header.r { height: 65px; top: 0; background-color: #242d36; color: white;}
#content.r { top: 65px; bottom: 0; padding-left: 0px; }

#nav, .nav-container { left: 0; width: 220px; background-color: rgb(100, 100, 100)}

#nav ul.list-group > .list-group-item { border: none; background: transparent; color: white; border-radius: 0;}

#nav ul.list-group > .list-group-item:hover { cursor: pointer; background: #2C3E50; }
#nav ul.list-group > .list-group-item { padding: 0; }
#nav ul.list-group > .list-group-item > div { display: block; font-weight: 300; border-bottom: 1px solid black; text-transform: uppercase;}

.branding-container { width: 95%; margin-left: auto; margin-right: auto; }
.branding-container h1 { margin: 0; line-height: 65px; padding-right: 10px; }

#header ul.list-inline { line-height: 65px; margin: 0; }
#header ul.list-inline > li { transition: background-color 1s; padding-right: 10px; text-transform: uppercase;}
#header ul.list-inline > li:hover { cursor: pointer; background-color: rgb(224, 231, 236); color: #242d36;}


#main { left: 220px; right: 0; margin: 10px; border: 1px solid rgb(228, 228, 228); }

video {
  width: 100%    !important;
  height: auto   !important;
}

#sample-video-container {
	margin: 30px auto 30px auto;
	width: 800px;
}

.video-background {
	background: rgb(228, 217, 201);
}

.text-ws { color: #F35051; }
.text-df { color: #326D8B; }
.text-wdgt { color: #04BE00; }
.text-content { color: rgb(245, 102, 39); }

.bg-ws { background: #F35051; }
.bg-df { background: #326D8B; }
.bg-content { background: rgb(245, 102, 39); }
.bg-wdgt { background: #04BE00; }

.thumbnail-container {
	margin-top: 20px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail-container .thumbnail {
	border: none;
	padding: 20px;
	transition: all .2s ease-in-out;
}


.thumbnail:hover {
	cursor: pointer;
  background-color: rgb(220, 220, 220);
}

.thumbnail-container .thumbnail:hover {
	transform: scale(1.1);
}

.learn-more {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.thumbnail i {
	font-size: 20vw;
}

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.well[ui-view]{
 height: 65px; 
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}
