.r, .c { position: absolute; }
.r { left: 0; right: 0; padding-left: 15px; padding-right: 15px; }
.c { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

#header.r { height: 65px; top: 0; background-color: #0077c0; color: white;}
#content.r { top: 65px; bottom: 0; padding-left: 0px; }