h3.title.text-primary Sample Calls
.list-group
	a.list-group-item.titlea(href='#', ng-repeat='s in samples', ng-click='clickSample(s)', popover='description', popover-trigger="mouseenter", ng-animate-ref='{{s.name}}')
		{{s.name}}
		i.fa-arrow-right.fa.pull-right

